{%extends "./base.html"%}
{%block title%}
<div class="wrapper" style="margin: .5%;">
    <title>Web of Science Searcher </title>
    <p> Simple document seacher using WOS-Starter API</p>
    <p></p>
</div>
{%endblock%}

{%block body%}
<style>
    .search_table {
        table-layout: fixed;
        width: 100%;
    }

    .search_table tr td:nth-child(2) {
        width: 60%;
    }

    input[type=text] {
        width: 250px;
    }

    tr.spaceUnder>td {
        padding-bottom: 7px;
    }

    .layout_table {
        table-layout: fixed;
        width: 100%;
        height: 200px;
    }

    .layout_table td:nth-child(1) {
        width: 35%;
    }

    .layout_table td:nth-child(2) {
        width: 68%;
    }

    .scroll {
        width: 100%;
        height: 100%;
        overflow: scroll;
        float: left;
    }
</style>

{% if clear_form == True: %}

{%else%}
{%set UID = session["d_form"]['UID']%}
{%set TI = session["d_form"]['TI']%}
{%set IS = session["d_form"]['IS']%}
{%set SO = session["d_form"]['SO']%}
{%set VL = session["d_form"]['VL']%}
{%set PG = NONE%}
{%set CS = session["d_form"]['CS']%}
{%set PY = session["d_form"]['PY']%}
{%set AU = session["d_form"]['AU']%}
{%set AI = session["d_form"]['AI']%}
{%set UT = session["d_form"]['UT']%}
{%set DO = session["d_form"]['DO']%}
{%set DT = session["d_form"]['DT']%}
{%set PMID = session["d_form"]['PMID']%}
{%set OG = session["d_form"]['OG']%}
{%set TS = session["d_form"]['TS']%}
{%set SUR = NONE%}
{%endif%}

<div class="wrapper" style="margin: 0%;">
    <table class="layout_table">
        <td>
            <form action=# method="post">
                <table class=" search_table">
                    <tr class="spaceUnder">
                        <td align="right">UID</td>
                        <td align="left">
                            <input type="text" value='{{UID}}' name="UID" placeholder="Unique identifier" />
                        </td>
                    </tr>
                    <tr>
                        <td align=" right">Title</td>
                        <td align="left">
                            <input type="text" value='{{TI}}' name="TI" placeholder="Title of document" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">ISSN/ISBN</td>
                        <td align="left"><input type="text" value="{{IS}}" name="IS" /></td>
                    </tr>
                    <tr>
                        <td align="right">Source title</td>
                        <td align="left"><input type="text" value="{{SO}}" name="SO" /></td>
                    </tr>
                    <tr>
                        <td align="right">Volume</td>
                        <td align="left"><input type="text" value="{{VL}}" name="VL" /></td>
                    </tr>
                    <tr>
                        <td align="right">Page</td>
                        <td align="left"><input type="text" value="{{PG}}" name="PG" disabled=True /></td>
                    </tr>
                    <tr>
                        <td align="right">Issue</td>
                        <td align="left"><input type="text" value="{{CS}}" name="CS" /></td>
                    </tr>
                    <tr>
                        <td align="right">Year Published</td>
                        <td align="left">
                            <input type="text" value="{{PY}}" name="PY" placeholder="article's cover date" />
                        </td>
                    </tr>

                    <tr>
                        <td align="right">Author</td>
                        <td align="left"><input type="text" value="{{AU}}" name="AU" /></td>
                    </tr>
                    <tr>
                        <td align="right">Author Identifier</td>
                        <td align="left"><input type="text" value="{{AI}}" name="AI" /></td>
                    </tr>
                    <tr>
                        <td align="right">Accession Number</td>
                        <td align="left"><input type="text" value="{{UT}}" name="UT" /></td>
                    </tr>
                    <tr>
                        <td align="right">DOI</td>
                        <td align="left"><input type="text" value="{{DO}}" name="DO" /></td>
                    </tr>
                    <tr>
                        <td align="right">Document Type</td>
                        <td align="left"><input type="text" value="{{DT}}" name="DT" /></td>
                    </tr>
                    <tr>
                        <td align="right">PubMed ID</td>
                        <td align="left"><input type="text" value="{{PMID}}" name="PMID" /></td>
                    </tr>
                    <tr>
                        <td align="right">Organization</td>
                        <td align="left"><input type="text" value="{{OG}}" name="OG" /></td>
                    </tr>
                    <tr>
                        <td align="right">Keywords</td>
                        <td align="left">
                            <input type="text" value="{{TS}}" name="TS" placeholder="topic terms within the document" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Search records in DRCI</td>
                        <td align="left"><input type="text" value="{{SUR}}" name="SUR" disabled=True /></td>
                    </tr>
                </table>
                <input type="submit" name="action" value="Search">
                <input type="submit" name="action" value="Clear">
            </form>
        </td>
        <td align="left" style="vertical-align: top;"> ok
            <div class="scroll" style=" padding-top: 10px;">
                {{results|safe}}
            </div>
        </td>
    </table>
</div>
{%endblock%}